<div class="shakeable title">Shake your device</div>
<div class="cube-container">
  <div class="cube-wrapper">
    <div class="cube">
      <div class="face one">
        <p class="onedot"></p>
      </div>
      <div class="face two">
        <p class="tldot"></p>
        <p class="brdot"></p>
      </div>
      <div class="face three">
        <p class="tldot"></p>
        <p class="onedot"></p>
        <p class="brdot"></p>
      </div>
      <div class="face four">
        <p class="tldot"></p>
        <p class="trdot"></p>
        <p class="bldot"></p>
        <p class="brdot"></p>
      </div>
      <div class="face five">
        <p class="tldot"></p>
        <p class="trdot"></p>
        <p class="onedot"></p>
        <p class="bldot"></p>
        <p class="brdot"></p>
      </div>
      <div class="face six">
        <p class="tldot"></p>
        <p class="trdot"></p>
        <p class="mldot"></p>
        <p class="mrdot"></p>
        <p class="bldot"></p>
        <p class="brdot"></p>
      </div>
    </div>
  </div>
</div>
<div class="button-container pure-u-1">
  <div class="throw-button topcoat-button--cta action-button">Throw dice</div>
  <div class="title waiting">Waiting for the player</div>
  <div class="title thrown">
    <span class="thrown-value"></span>
  </div>
</div>
