<<<<<<< HEAD
<div class="board-container"></div>
<div class="player">
  <div class="player-color"></div>
  <div class="player-name"></div>
  <div class="player-dice">
    <div class="dot dot-tl"></div>
    <div class="dot dot-tc"></div>
    <div class="dot dot-tr"></div>
    <div class="dot dot-cl"></div>
    <div class="dot dot-cc"></div>
    <div class="dot dot-cr"></div>
    <div class="dot dot-bl"></div>
    <div class="dot dot-bc"></div>
    <div class="dot dot-br"></div>
  </div>
</div>
=======
<div class="board-container"> </div>
>>>>>>> feature/board
