<div class="next-message title">Next player is</div>
<div class="next-color" style="background-color:{{color}};"></div>
<div class="next-name">{{name}}</div>
<div class="next-button topcoat-button--cta action-button">Go</div>
<div class="next-waiting">Waiting for the player...</div>
