<div class="next-message">Next player is</div>
<div class="next-color"></div>
<div class="next-name">Test</div>
<div class="next-button button">Go</div>
<div class="next-waiting">Waiting for the player...</div>