<div class="winning-photo"> </div>
<div class="winner-text"> Congratulations {{name}}! <br> You are the winner!</div>

<div class="another-btn topcoat-button action-button" data-action="new-game">Play another?</div>
<div class="menu-btn topcoat-button action-button" data-action="">Main menu</div>

