<h1>Rules</h1>
<p>The rules are simple.</p>
<p>Throw the dice! Get numbers! Get out of shelter! Throw the dice. Move to other places! Throw the dice again! Attack other players! Get all of your Peeps safely home! Win!</p>
<h1>Sraz Rules</h1>
<p>Additional rule when attacking players! Answer a question correctly to destroy your enemy or you will not move!</p>
<h2>Offline play!</h2>
<p>The game is fully offline capable so you can play it without an access to the Internets! </p>
<p>Please follow the instruction based on your platform to add them to your homescreen.</p>
<h3>Android (chrome)</h3>
<div class="screen1"></div>
<h3>iOS</h3>
<div class="screen2"></div>
