<div class="title">The Story</div>
<div class="the-story">
  <div class="content">
    <p>The war raged on for years. You can't event remember the last time you saw the sun - all because of the nuclear fallout. But now... the sun is up again, the sky is clear and your Peeps need you to guide them back home!</p>
    <p>The main objective of the game (besides spreading love and peace!) is to get all your Peeps back to their rightfull home from the nuclear shelter!</p>
    <p>The way home is long and hard.</p>

    <p>To get out of the shelter throw the dice and get a 6!</p>
    <p>But watch out for other players! They too are trying to get home and they will stop at nothing to achive this! It's kill or be killed.</p>
  </div>
</div>

