.board-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;

  .zoom-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @include stretch(0,0,50px,0);
  @include display-box();
  @include box-pack(center);
  @include box-align(center);
  padding: 1%;
}

.player {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #dbb885;
  border-top: 1px solid #BFA074;

  .player-color {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    float: left;
    margin: 9px;
    border-radius: 3px;
  }

  .player-name {
    padding: 16px 60px 0 0;
    color: #000;
    overflow: hidden;
    height: 18px;
  }

  .player-dice {
    position: relative;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    float: right;
    margin: -25px 9px 9px 9px;
    border-radius: 3px;
    background-color: #9e4e4d;
    @include filter-gradient(#9e4e4d, #9b3030, horizontal);
    @include background-image(radial-gradient(center, ellipse cover,  #9e4e4d 0%,#9b3030 100%));

    .dot {
      position: absolute;
      background-color: #fff;
      width: 4px;
      height: 4px;
      border-radius: 100%;
    }

    .dot-tl {
      top: 5px;
      left: 5px;
    }
    .dot-tc {
      top: 5px;
      left: 13px;
    }
    .dot-tr {
      top: 5px;
      right: 5px;
    }
    .dot-cl {
      top: 13px;
      left: 5px;
    }
    .dot-cc {
      top: 13px;
      left: 13px;
    }
    .dot-cr {
      top: 13px;
      right: 5px;
    }
    .dot-bl {
      bottom: 5px;
      left: 5px;
    }
    .dot-bc {
      bottom: 5px;
      left: 13px;
    }
    .dot-br {
      bottom: 5px;
      right: 5px;
    }

    &.num-1 {
      .dot-tl, .dot-tc, .dot-tr, .dot-cl, .dot-cr, .dot-bl, .dot-bc, .dot-br {
        display: none;
      }
    }
    &.num-2 {
      .dot-tc, .dot-tr, .dot-cl, .dot-cc, .dot-cr, .dot-bl, .dot-bc {
        display: none;
      }
    }
    &.num-3 {
      .dot-tc, .dot-tr, .dot-cl, .dot-cr, .dot-bl, .dot-bc {
        display: none;
      }
    }
    &.num-4 {
      .dot-tc, .dot-cl, .dot-cc, .dot-cr, .dot-bc {
        display: none;
      }
    }
    &.num-5 {
      .dot-tc, .dot-cl, .dot-cr, .dot-bc {
        display: none;
      }
    }
    &.num-6 {
      .dot-tc, .dot-cc, .dot-bc {
        display: none;
      }
    }
  }
}

.next-message {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 400;
}
.next-color {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  opacity: 0.5;
  background-color: red;
  border: 1px solid #000;
  box-shadow: 0 0 29px #000;
}
.next-name {
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-weight: 500;
}
.next-waiting {
  opacity: 0.7;
  text-align: center;
  padding: 20px;
  font-size: 22px;
}

.game {
  // position: relative;
  // @include stretch(0,0,0,0);
}

.board {
  position: relative;
  background-color: #f1f1f1;
  overflow: hidden;

  .point {
    position: absolute;
    width: 8%;
    height: 8%;
    border: 1px solid #666;
    background-color: #fff;
    @include border-radius(50%);
    @include transition(all 200ms);
    z-index: 100;
  }

  .home-box {
    position: absolute;
    @include display-box();
    @include box-pack(center);
    @include box-align(center);
    z-index: 1;
  }
}
