.menu {
  .item {
    width: 90%;
    margin: 10px;
  }
}


.board-chooser {
}

.player-chooser {
  .player-input {
    margin: 10px;
  }

  .player-number {
    height: 45px;
    width: 90%;
    margin: 0 auto;
    position: relative;

    select {
      width: 100%;
      -webkit-appearance: listbox;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: none;
      color: transparent;
      background: transparent;
    }
  }

  .player-name {
    width: 90%;
    text-align: center;
  }

  .start-game-btn {
    width: 90%;
  }
}

.player-input-fields {
  padding: 30px 0;
}

.player-input {
  margin: 5px auto;
}
