@import "topcoat-mobile-light";
@import "compass";
@import "compass/layout/stretching";
@import "core";
@import "buttons";
@import "game";
@import "dice";
@import "menu";
@import "win";

* {
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
  height: 100%;
}

body, .overlay {
  background-color: #fff8cf;
  @include filter-gradient(#fff8cf, #dbb885, horizontal);
  @include background-image(radial-gradient(center, ellipse cover,  #fff8cf 0%,#dbb885 100%));

  color: #658350;
  text-shadow: 0 1px 1px #fff;
  padding-bottom: 20px;
}

#main {
  margin: 20px;
  text-align: center;
  margin: 0 auto;
}
