<div class="previous-slide pure-button pure-button-xsmall"><</div>
<div class="next-slide pure-button pure-button-xsmall">></div>
<div class="board-photo"></div>
<div class="board-description"></div>
