<div class="chooser-buttons">
  <div class="previous-slide"><</div>
  <div class="next-slide">></div>
</div>
<div class="board-photo"></div>
<div class="board-description"></div>
<div class="yes-btn topcoat-button--cta action-button">Choose</div>
