<h2>Players</h2>
<div class="player-number">
  <div class="player-number-inner topcoat-button"></div>
  {{#option-list playerNum}}{{/option-list}}
</div>
<div class="player-input-fields"></div>
<div class="start-game-btn topcoat-button--cta">Start!</div>
