<h2>Number of players</h2>
<div class="player-number">
  {{#option-list playerNum}}{{/option-list}}
</div>
<div class="player-input-fields"></div>
<div class="start-game-btn pure-button pure-button-xlarge">Start!</div>
